---
layout: layouts/base.njk
templateClass: tmpl-home
---

<section class="col" role="region" aria-labelledby="latest-art">
	<div class="highlights">
{% for post in postslist | reverse %}
{% if post.data.type == "post" %}
	{{ homeitem(post, '', '', '(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw', true) }}
{% endif %}
{% endfor %}
	</div>
	<a href="/posts/" class="cta">All Posts</a>
</section>